<div class="container container-styles">
	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="row">
				<span class="img-responsive center-block logo-styles">
					<span class="glyphicon glyphicon-shopping-cart"> </span>
				</span>
				<div id="div1" class="shadow title-styles">Welcome to Survey APP - Login to continue</div>
				<ul class="nav navbar-nav navbar-right">
					<li>
						<div class="btn-nav" style="padding-right:15px">
							<a id="login" class="btn btn-primary btn-small navbar-btn" (click)="login()">{{loginTitle}}</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
